{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>
    <p>你的账户还没有设置密码！</p>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% include 'account/snippets/bs4_form.html' with form=form %}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-info">
    </form>
{% endblock %}
