{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
<h1>{% trans "Sign Up" %}</h1>
<p>{% blocktrans %}已经有一个账号？ 请 <a href="{{ login_url }}">登录</a>{% endblocktrans %}</p>
  {% csrf_token %}
  {% include 'account/snippets/bs4_form.html' with form=form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn-info btn float-right">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
