<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{  page_obj.previous_page_number }}"
               tabindex="-1">上一页</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">上一页</a>
        </li>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
            {%  if p %}
                {% ifequal p  page_obj.number %}

                <li class="page-item active">
                      <span class="page-link">
                        {{p}}
                        <span class="sr-only">(current)</span>
                      </span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{p}}">{{p}}</a></li>
                {% endifequal %}
            {% else %}
                <li class="page-item disabled">
                     <span class="page-link ">...</span>
                </li>
            {% endif %}

        {% endfor %}


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{  page_obj.next_page_number }}">下一页</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">下一页</a>
        </li>
        {% endif %}


    </ul>
</nav>