{% extends 'article/base.html' %}
{% load staticfiles %}

{% block active-1 %}
active
{% endblock %}


{% block content %}
<div id="carouselExampleIndicators" class="carousel slide mb-lg-4 mb-2" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% url "article:article_detail" 4 %}">
            <img class="d-block w-100" src="{{ MEDIA_URL }}index3.png" alt="First slide"></a>
    </div>
    <div class="carousel-item">
        <a href="{% url "article:article_detail" 1 %}">
      <img class="d-block w-100" src="{{ MEDIA_URL }}index1.jpg" alt="Second slide" ></a>
    </div>
    <div class="carousel-item">

        <a href="{% url "article:article_detail" 2 %}">
            <img class="d-block w-100" src="{{ MEDIA_URL }}index2.jpg" alt="Third slide" ></a>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% if articles %}
    {% include "article/partials/_article_list.html" %}
    <p class="text-center"><a href="{% url 'article:all_articles' %}" class="btn btn-outline-primary">查看更多文章>></a></p>
{% else %}
<p> 没有文章</p>
{% endif%}

{% endblock %}