{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
{{c_user.username}}的资料
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        {% if c_user.avatar == "avatar/default.png" and c_user.get_avatar_url %}
        <img class="align-self-sm-start mr-3 rounded mt-1" src="{{c_user.get_avatar_url}}"
             width="148" height="148" alt="头像">
        {% else %}
        <img class="align-self-sm-start mr-3 rounded mt-1" src="{{MEDIA_URL}}{{c_user.avatar}}"
             width="148" height="148" alt="头像">
        {% endif %}

        <p>{{c_user.username}}</p>
        {% ifequal user c_user %}
        <a href="{% url 'profile_edit' %}" class="btn btn-success">编辑个人资料</a>

        <a href="{% url 'account_change_password' %}" class="btn btn-primary mt-2">修改账户密码</a>

        <a href="{% url 'account_email' %}" class="btn btn-primary mt-2">管理E-mail地址</a>
        <a href="{% url 'socialaccount_connections' %}" class="btn btn-primary mt-2">关联第三方账号</a>
        {% endifequal %}

    </div>
    <div class="col-lg-9">

        <div class="mt-4">
            <p><strong>年龄：</strong>{{userprofile.age|default:"" }}</p>
            <p><strong>个人网站：</strong>{{userprofile.website|default:""}}</p>
            <p><strong>家乡：</strong>{{userprofile.hometown|default:""}}</p>
            <p><strong>个人简介：</strong>{{userprofile.introduction|default:""}}</p>
        </div>

    </div>
</div>


{% endblock %}
